<!-- TODO: replace the contents of this file with your own html -->
<div class="palm-hasheader">
	<div class="palm-header">
		Record and playback video
	</div>
</div>

<div class="palm-header-spacer"></div>
<div x-mojo-element="ListSelector" id="listselectorId"
  class="listselectorClass"  name="listselectorName"></div> 

<table width="100%">
	<tr>
		<td width="50%"><div x-mojo-element="Button" id="startButton" class="buttonClass" name="startButton"></div></td>
		<td  width="50%"><div x-mojo-element="Button" id="stopButton" class="buttonClass" name="stopButton"></div> </td>
	</tr>
</table>
  
 
 
<video id="video-object" style="position: fixed; top: 165px; left: 60px; width:200px; height:200px; z-index: 100; backgroundColor: #000020" >Video Object didn't load!</video>
<br /><br /><br /><br /><br /><br /><br /><br />
<div x-mojo-element="Button" id="playButton" class="buttonClass" name="playButton"></div>  
