<div id="main" class = "palm-hasheader">
	<div class="palm-header">Accelerometer test</div>
	<div id="accx" name="accx" class="palm-body-text">0</div>
	<div id="accy" name="accy" class="palm-body-text">0</div>
	<div id="accz" name="accz" class="palm-body-text">0</div>
	<div id="time" name="time" class="palm-body-text">0</div>
	<div id="position" class="palm-body-text">Debug text</div>
	<div id="roll" class="palm-body-text">0</div>
	<div id="pitch" class="palm-body-text">0</div>
	<div id="area1" class="palm-body-text">shakingstart</div>
	<div id="area2" class="palm-body-text">shaking</div>
	<div id="area3" class="palm-body-text">shankingend</div>
	<div class="palm-body-text">Use F5 - F9 on emulator to simulate events</div>
</div>