<!-- TODO: replace the contents of this file with your own html -->
<div class="palm-hasheader">
	<div class="palm-header">
		Camera Image Capture
	</div>
</div>
<div class="palm-header-spacer"></div>
<div x-mojo-element="ListSelector" id="listselectorId"
  class="listselectorClass"  name="listselectorName"></div>


  
 
 
<video id="video-object" style="position: fixed; top: 140px; left: 60px; width:200px; height:200px; z-index: 100; backgroundColor: #000020" >Video Object didn't load!</video>
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
<table width='100%'>
	<tr>
		<td width="50%"><div x-mojo-element="Button" id="snapButton" class="buttonClass" name="snapButton"></div></td>
		<td width="50%"><div x-mojo-element="Button" id="viewButton" class="buttonClass" name="viewButton"></div> </td>
	</tr>
</table>

 