<div id='scene' height='100%'>
<div class="palm-hasheader">
	<div class="palm-header">
		Exhibition Sample
	</div>
</div>
<div class="palm-header-spacer"></div>
<div class="palm-body-text">
	For your app to show up in the Exhibition prefs you need to add <b><i>"touchstoneMode": "enabled"</i></b>
	to your app's appinfo.json.<br><br />
	When the system laucnhes your app in exhibitionMode, it passes the parameter <b><i>touchstoneMode=true</b></i> 
	to the app-assistant's handleLaunch.<br /><br />
	When this app is selected it launches a screen saver type sceen.
</div>
<div id="launchPrefs" class="palm-button" x-mojo-tap-highlight="momentary" x-mojo-loc=''>Exhibition Prefs</div>
</div>
