<div id="main" class="palm-hasheader">
	<div class="palm-header left" id="main-hdr" x-mojo-loc=''>
	  Activities
	</div>
</div>


<div id="textfield" class="palm-group">
	<div class="palm-group-title" x-mojo-loc=''>Services</div>
		<div class="palm-list">
			<div id="hellotest" class="palm-button" x-mojo-loc=''>Hello Test</div>
			<div id="subscriptiontest" class="palm-button" x-mojo-loc=''>Subscription Test</div>
		</div>
	</div>
</div>

<div id="textfield" class="palm-group">
	<div class="palm-group-title" x-mojo-loc=''>Activities</div>
		<div class="palm-list">
			<div id="scheduledtest" class="palm-button" x-mojo-loc=''>Scheduled Test</div>
			<div id="requirementtest" class="palm-button" x-mojo-loc=''>Requirement Test</div>
			<div id="triggertest" class="palm-button" x-mojo-loc=''>Trigger Test</div>
			<div id="triggerbutton" class="palm-button" x-mojo-loc=''>Set The Trigger!</div>
		</div>
	</div>
</div>

<div class="palm-group">
	<div class="palm-group-title" x-mojo-loc=''>
	Results:
	</div>
	<div id="area-to-update" class="palm-row-wrapper">
	</div>
</div>       