<div id="main" class="palm-hasheader">
	<div class="palm-header left" id="main-hdr" x-mojo-loc=''>
	  Activity Information
	</div>
</div>

<div id="textfield" class="palm-group">
    <div class="palm-group-title" x-mojo-loc=''>
        Entry Valid Activity ID
    </div>
    <div class="palm-list">
        <div class="palm-row single">
            <div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
                <div class="title">
                    <div id="activityID" x-mojo-element="TextField">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="getdetails" class="palm-button" x-mojo-loc=''>
    Get Activity Details
</div>
</div>

<div class="palm-group">
	<div class="palm-group-title" x-mojo-loc=''>
	Results:
	</div>
	<div id="area-to-update" class="palm-row-wrapper">
	</div>
</div>       