/* For the description in the main list of APIs */
#apiList .preview {
	margin-top: -10px;
	padding: 0 15px 10px 15px;
}
/*Gesture Events*/
.touch-pad {
	width: 280px;
	height: 280px;
	margin: 20px auto;
	border: 1px solid #999;
	background-color: gray;
	position: relative;
	text-align: center;
}

.gesture-center {
	margin: 10px 0px;
	white-space:pre-wrap;
	font-size:14px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	width:240px;
	text-align:left;
}
.gesture-scale {
	margin: 10px 0px;
	white-space:pre-wrap;
	font-size:14px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	width:240px;
	text-align:left;
}
.gesture-rotation {
	margin: 10px 0px;
	white-space:pre-wrap;
	font-size:14px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	width:240px;
	text-align:left;
}