<!-- TODO: replace the contents of this file with your own html -->
<div class="palm-hasheader">
	<div class="palm-header">
		Capture Sample
	</div>
</div>
<div class="palm-header-spacer"></div>
<div class="palm-body-text">
	Select capture device from below!
</div>
<div x-mojo-element="Button" id="audioButton" class="audioButtonClass" name="audioButton"></div> 
<div x-mojo-element="Button" id="videoButton" class="videoButtonClass" name="videoButton"></div> 
<div x-mojo-element="Button" id="imageButton" class="imageButtonClass" name="imageButton"></div> 

