<div x-mojo-element="Button" id="albumId" class="buttonClass" name="buttonName"></div> 
<div x-mojo-element="Button" id="artistsId" class="buttonClass" name="buttonName"></div> 
<div x-mojo-element="Button" id="audiofilesId" class="buttonClass" name="buttonName"></div> 
<div x-mojo-element="Button" id="genresId" class="buttonClass" name="buttonName"></div> 
<div x-mojo-element="Button" id="playlistsId" class="buttonClass" name="buttonName"></div> 	
<div x-mojo-element="Button" id="videofilesId" class="buttonClass" name="buttonName"></div> 