<div class="palm-hasheader">
	<div class="palm-header">
		Ading a new contact!
	</div>
</div>
<div class="palm-header-spacer"></div>
<div class="palm-body-text">
	This is the new API for adding a new contact to the contacts database!
	<br /><br />
	Tapping on the button will pass a contacts object to the contacts app, opening the contacts
	app in the edit scene. <br /> <br />
	See the documentation for contacts scheme 
</div>
<div x-mojo-element="Button" id="buttonId" class="buttonClass" name="buttonName"></div>
