<div class="palm-hasheader">
	<div class="palm-header">
		Ading a new Calendar Event!
	</div>
</div>
<div class="palm-header-spacer"></div>
<div class="palm-body-text">
	This is the new API for adding a new calendar event to the calendar database!
	<br /><br />
	Tapping on the button will pass a calender event object to the calendar app, opening the calendar
	app in add new event scene. <br /> <br />
	See the documentation for calendar scheme. 
</div>
<div x-mojo-element="Button" id="buttonId" class="buttonClass" name="buttonName"></div>