<div class="palm-row" x-mojo-tap-highlight="momentary">
  <div class="palm-row-wrapper textfield-group">
    <div class="title">
    
      <div class="palm-dashboard-icon-container feedlist-icon-container">
        <div class="dashboard-newitem feedlist-newitem">
          <span class="unReadCount">#{numUnRead}</span>
        </div>
        <div id="dashboard-icon" class="palm-dashboard-icon feedlist-icon">
        </div>
      </div>
    
      <div class="feedlist-info icon right" id="info"></div>
      <div x-mojo-element="Spinner" class="right" name="feedSpinner"</div>
      <div class="feedlist-title truncating-text">#{title}</div>   
      <div class="feedlist-url truncating-text">#{-url}</div>
        
    </div>
  </div>
</div>