<div class="palm-dialog-content">
    <div class="palm-dialog-title">
        Latest News
    </div>
    <div class="palm-dialog-separator"></div>
        <div x-mojo-element="Scroller" class="update-scroller" >
            <div class="update-image"></div>
            <div class="title">
                News v0.85
                <div class="palm-body-title">
                    New features:
                </div>
            </div>
            <div class="palm-body-text update-bullets">
                <ul>
                    <li>Changed story rotation; all stories in simple drawer</li>
                    <li>Bug fixes for story scene flicker, and minor bugs</li>
                <ul>
            </div>
        </div>
    </div>

    <div class="palm-dialog-buttons">
        <div id="update_okButton" class="palm-button" x-mojo-tap-highlight="immediate">
            <div class="palm-button-wrapper">
                OK
            </div>
        </div>
    </div>
</div>