
<!--Contact read and write buttons-->
<div id="setupContactKind" name="setupContactKind" x-mojo-element="Button" x-mojo-loc="">
</div>


<!--Contact read and write buttons-->
<div id="writeContactData" name="writeContactData" x-mojo-element="Button" x-mojo-loc="">
</div>
<div id="readContactData" name="readContactData" x-mojo-element="Button" x-mojo-loc="">
</div>



<!--Calendar read and write buttons - not yet implemented -->
<div id="createCalendar" name="createCalendar" x-mojo-element="Button" x-mojo-loc="">
</div>
<div id="writeCalendarData" name="writeCalendarData" x-mojo-element="Button" x-mojo-loc="">
</div>
<div id="readCalendarData" name="readCalendarData" x-mojo-element="Button" x-mojo-loc="">
</div>



<!--OUTPUT AREA-->
<div class="palm-body-text">
	<div id="targOutput">
		
	</div>
</div>