<meta name="viewport" content="width = device-width; initial-scale=1.0, user-scalable=no">

<div id="touch-pad" class="touch-pad">
	Place 2 fingers in this box to test gesture events.
</div>  

<div id="gesture-info"></div>
<div id="gesture-properties">
	<div>Gesture Center @ <span id="gesture-center" class="gesture-center"><span></div>
	<div>Gesture Scale = <span id="gesture-scale" class="gesture-scale"></span></div>
	<div>Gesture Rotation = <span id="gesture-rotation" class="gesture-rotation"></span></div>
</div>
 