<div id="main" class="palm-hasheader">
	<div class="palm-header" id="list-header">
	  Power Manager
	</div>
</div>
<div class="palm-body-text">
	To demo this sample do the following<br />
	1. Leave the toggle button off and tap the start button<br>
	2. Turn toggle on to activate the powerManager and tap the start button<br /><br />
	After both instances press the power button to turn the screen off<br />
	Results<br />
	1. Beacuse the device goes to sleep after the screen got off the alarm doesn't ring<br />
	2. Even though the screen is off the device won't sleep until the alarm sounds.
</div>

<div id='area1' align=center></div>
<div x-mojo-element="ToggleButton" id="togglebuttonId" class="togglebuttonClass" name="togglebuttonName"></div>
<div x-mojo-element="Button" id="startButton"></div>
<div class="palm-body-text" id='area2'></div>